<html lang="en" ng-app="e2client">
    <head>
        <title>Encore2 Control</title>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        
        <!-- jQuery -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <!-- <script src="lib/jquery-migrate-1.2.1.min.js"></script> -->

        <!-- Bootstrap -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!-- Angular -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <script src="bower_components/ng-websocket/ng-websocket.js"></script>
        
        <!-- qmsk-e2 -->
        <link rel="stylesheet" href="qmsk.e2/client.css">

        <script src="qmsk.e2/client.js"></script>
    </head>

    <body>
        <div class="container-fluid" id="container">
            <div id="header"
                ng-controller="HeaderCtrl"
                ng-class="{'safe': safe == true, 'live': safe == false, 'offline': safe == null}">

                <a href="/" class="title">Encore2 Control</a>
                <a href="#/presets" ng-class="{active:isActive('/presets')}">Presets</a>
                <a href="#/sources" ng-class="{active:isActive('/sources')}">Sources</a>

                <div class="header-right">
                    <span ng-if="safe == null">OFFLINE</span>
                    <span ng-if="safe == true">SAFE MODE @ {{server}}</span>
                    <span ng-if="safe == false">LIVE @ {{server}}</span>
                </div>
            </div>

            <div id="view" ng-view></div>

            <div id="status" ng-controller="StatusCtrl">
                <div ng-repeat="stat in status">{{stat.msg}} {{stat.data}}</div>
            </div>
        </div>
    </body>
</html>
